/* line 3, ../sass/style.scss */
#poster-grid img {
  width: 100%;
  padding: 0  0% 5%;
}

/* line 9, ../sass/style.scss */
.nowplaying {
  font-family: 'Finger Paint', cursive;
  font-size: 36px;
}

/* line 14, ../sass/style.scss */
.now-playing {
  height: 80%;
  height: 480px;
  width: 23%;
}
